@import "../assets/themes.css";

.button {
  font-size: 1rem;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 10px 0px;
  cursor: pointer;
  border-style: solid;
  border-color: var(--primary);
  border-width: 2px;
  transition: transform 0.3s, box-shadow 0.3s;
  font-weight: bold;
}
.button:hover {
  transform: translate(0, -8%);
  box-shadow: 3px 3px 10px 5px #ebeae8;
}
