@import "../../assets/themes.css";

.job-listing__card {
  border-radius: 10px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: transform 0.2s, box-shadow 0.1s;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.job-listing__card:hover {
  box-shadow: 0px 0px 15px 1px var(--gray-light);
  transform: translate(0, -1%);
}
.job-listing__card:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: aqua; */
}
.column {
  display: flex;
  flex-direction: column;
}
.job-listing__logo-wrapper {
  display: flex;
  float: left;
  width: auto;
  align-items: flex-start;
  justify-content: center;
  /* background-color: bisque; */
  padding: 10px 5px;
  margin-left: 5px;
}
.job-listing__description-wrapper {
  /* background-color: aqua; */
  height: fit-content;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px 0px;
  height: fit-content;
}
.job-listing__type-wrapper {
  float: right;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 0px;
  padding: 5px;
  height: fit-content;
  white-space: nowrap;
  /* background-color: crimson; */
}
.job-listing__type--font {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.job-listing__logo-img {
  max-width: 45px;
  max-height: 45px;
  margin: 0px;
  border-radius: 5px;
}
.job-listing__company-rating-wrapper {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 6px;
  margin-inline-end: 0px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 350;
  text-align: start;
  margin: 3px 6px;
}
.job-listing__company {
  margin: 2px 10px 0px 0px;
}
.job-listing__rating {
  margin: 2px 0px 0px;
}
.job-listing__star-icon {
  width: 10px;
  height: 10px;
  margin: 6px 3px 0px;
}

.job-listing__title {
  font-weight: bolder;
  font-size: 16px;
  text-align: start;
  /* background-color: antiquewhite; */
  padding: 0px 6px;
  margin: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 40px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
}
.job-listing__date-location-wrapper {
  margin: 3px 0px -2px;
  padding-left: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.job-listing__date {
  color: var(--primary);
  font-weight: bold;
  padding: 0px 5px 0px 0px;
  margin: 0px;
  font-size: 14px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
}
.job-listing__location-icon {
  margin: 0px 5px;
  height: 20px;
  width: 10px;
  color: grey;
}
.job-listing__location {
  color: grey;
  margin: 0px;
  font-size: 14px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
}
.job-listing__divider {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: var(--gray-light);
  height: 1px;
  margin: 0px;
}
.job-listing__tags {
  width: 100%;
  bottom: 0;
  padding: 0px 3px;
  margin: 5px 0px 0px;
  overflow: hidden;
  min-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: start;
}
.job-listing__tag {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  max-width: 90%;
  margin: 0px 3px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.job-listing__tag--font {
  font-family: "roboto-mono", "consolas", monospace;
  font-size: 14px;
}
.job-listing__salary-estimate {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px 10px;
  padding: 2px 8px;
}
.job-listing__salary-wrapper {
  padding: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px 7px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
