@import "../../assets/themes.css";
.job-listing__container--mobile {
  width: 100%;
}
.job-listing__description-wrapper--mobile {
  /* background-color: aqua; */
  height: fit-content;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px 5px;
  height: fit-content;
  min-width: 250px;
}
.job-listing__company-rating-wrapper--mobile {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 6px;
  margin-inline-end: 0px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 350;
  text-align: start;
  margin: 5px 6px;
  font-size: 14px;
}
.job-listing__company--mobile {
  margin: 2px 10px 0px 0px;
}
.job-listing__rating--mobile {
  margin: 2px 0px 0px;
}
.job-listing__star-icon--mobile {
  width: 10px;
  height: 10px;
  margin: 6px 3px 0px;
}
.job-listing__title--mobile {
  font-weight: bolder;
  font-size: 16px;
  text-align: start;
  /* background-color: antiquewhite; */
  padding: 0px 6px;
  margin: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 40px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  display: block;
}
.job-listing__date-location-wrapper--mobile {
  margin: 4px 0px -2px;
  padding-left: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  text-align: start;
}

.job-listing__date--mobile {
  color: var(--primary);
  font-weight: bold;
  padding: 0px 5px 0px 0px;
  margin: 0px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  display: block;
}
.job-listing__location-icon--mobile {
  margin: 0px 5px;
  height: 20px;
  width: 10px;
  color: grey;
}
.job-listing__location--mobile {
  color: grey;
  margin: 0px;
  font-size: 14px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  display: block;
}
.job-listing__salary-estimate--mobile {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px 10px;
}
.job-listing__salary-wrapper--mobile {
  padding: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px 7px;
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: start;
}
.job-listing__logo-wrapper--mobile {
  display: flex;
  float: left;
  width: auto;
  height: 40px;
  align-items: flex-start;
  justify-content: start;
  padding: 10px 5px;
  margin-left: 5px;
}
.job-listing__logo-img--mobile {
  max-width: 45px;
  max-height: 45px;
  margin: 0px;
  border-radius: 5px;
}

.job-listing__type-wrapper--mobile {
  float: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 0px;
  padding: 10px 10px 0 0;
  height: fit-content;
  white-space: nowrap;
}
.job-listing__type--font--mobile {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.job-listing__logo-type-wrapper--mobile {
  justify-content: space-between;
  width: 100%;
  margin: 0px;
  min-width: 250px;
}
