.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}
nav li {
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #1fc76a;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}
